p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  min-width: 120px;
  text-align: center;
}
.btn:hover {
  background-color: #0056b3;
}
#prev {
  float: left;
}

#next {
  float: right;
}
